[submodule "modules/Ne10"]
	path = modules/Ne10
	url = https://github.com/projectNe10/Ne10
[submodule "modules/rpi_ws281x"]
	path = modules/rpi_ws281x
	url = https://github.com/jgarff/rpi_ws281x.git
[submodule "modules/plotperfectclient"]
	path = modules/plotperfectclient
	url = https://github.com/d-wizard/plotperfectclient.git
[submodule "modules/jsoncpp"]
	path = modules/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "modules/WiringPi"]
	path = modules/WiringPi
	url = https://github.com/WiringPi/WiringPi.git
